<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Successful</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'filemanager/css/styles.css' %}">
</head>

<body>
    <div class="container">
        <h1>File Uploaded Successfully!</h1>
        <p>Your file has been uploaded and sorted based on its type.</p>
        <a href="{% url 'upload' %}" class="btn">Upload Another File</a>    
        <a href="{% url 'file_list' %}" class="btn-blue">View Uploaded Files</a> <!-- Button to file list -->

    </div>
</body>

</html>